@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
      font-family: Mangiola;
      src: url(../public/font/Mangiola/Mangiola-Regular.ttf);
  }
  @font-face {
      font-family: Dana1;
      src: url(../public/font/Dana/Dana-Light.woff2);
  }
  @font-face {
      font-family: Dana2;
      src: url(../public/font/Dana/Dana-Regular.woff2);
  }
  @font-face {
      font-family: Dana3;
      src: url(../public/font/Dana/Dana-Medium.woff2);
  }
  @font-face {
      font-family: Dana4;
      src: url(../public/font/Dana/Dana-DemiBold.woff2);
  }
  @font-face {
      font-family: Dana5;
      src: url(../public/font/Dana/DanaFaNum-Medium.woff2);
  }
}

@layer components {
  .mini-scroll { @apply overflow-x-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500; }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}